{% extends 'base.html.twig' %}

{% block title %}Edit Caserne{% endblock %}

{% block body %}
    <h1>Edit Caserne</h1>

    {{ include('caserne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caserne_index') }}">back to list</a>

    {{ include('caserne/_delete_form.html.twig') }}
{% endblock %}
